In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
col_names = ['Celsius','Kelvin','Fahrenheit']
# load dataset
conv = pd.read_csv("kel.csv")
conv.shape

(25000, 3)

In [ ]:
conv.head()

   Celsius    Kelvin  Fahrenheit
0     5749   6022.15     10380.2
1     6573   6846.15     11863.4
2     3616   3889.15      6540.8
3    18060  18333.15     32540.0
4    29911  30184.15     53871.8

In [ ]:
feature_cols = ['Kelvin','Fahrenheit']
X = conv[feature_cols] # Features
y = conv['Celsius'] # Target variable

In [ ]:
y.head()

0     5749
1     6573
2     3616
3    18060
4    29911
Name: Celsius, dtype: int64

In [ ]:
X.head()

     Kelvin  Fahrenheit
0   6022.15     10380.2
1   6846.15     11863.4
2   3889.15      6540.8
3  18333.15     32540.0
4  30184.15     53871.8

In [ ]:
# split X and y into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [ ]:
# instantiate the model (using the default parameters)
linreg = LinearRegression()

# fit the model with data
linreg.fit(X_train,y_train)

#
y_pred=linreg.predict(X_test)

In [ ]:
print(X_test.shape)
X_test.info()

(6250, 2)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6250 entries, 14149 to 4183
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Kelvin      6250 non-null   float64
 1   Fahrenheit  6250 non-null   float64
dtypes: float64(2)
memory usage: 146.5 KB

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted':y_pred})
df.head()

       Actual  Predicted
14149    7768     7768.0
8946    14590    14590.0
22378   23163    23163.0
12162   14806    14806.0
4879    11828    11828.0

In [ ]:
#pred_me = pd.read_csv("tes1")
#print (pred_me.shape)
#file_pred=linreg.predict(pred_me)

In [ ]:
#To retrieve the intercept:
print(linreg.intercept_)
#For retrieving the slope:
print(linreg.coef_)

-108.31935193290337
[0.35454747 0.35858474]

In [ ]:
pred_me = pd.read_csv("cut1")
print("Shape is",pred_me.shape)

Shape is (25000, 2)

In [ ]:
file_pred=linreg.predict(pred_me)

In [ ]:
#for x in range(len(pred_me)):
 #   if (pred_me[x] == 738):
  #      print(x)#
#file_pred.type
#file_pred.to_csv("Answer.csv")
linreg.score(X_train,y_train)

1.0

In [ ]:
from joblib import dump, load
dump(linreg, 'linreg01.joblib')

['linreg01.joblib']