In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
datadf = pd.read_csv('/content/drive/MyDrive/Datasets/diabetes.csv')
datadf.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
datadf.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
#X = datadf[datadf.columns.difference(['Outcome'])] 
X = datadf.drop(['Outcome'], axis=1)
X.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [ ]:
Y = datadf.Outcome
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_scaled = sc.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_scaled, Y, test_size=0.2, random_state=42 )

In [ ]:
print('x_train', x_train.shape)
print('x_test', x_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)

x_train (614, 8)
x_test (154, 8)
y_train (614,)
y_test (154,)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

cv_dt = cross_val_score(DecisionTreeClassifier(), X, Y, cv=10)
cv_mean_decisiontree = cv_dt.mean()
print("CVS DecisionTreeClassifier ", cv_mean_decisiontree)

CVS DecisionTreeClassifier  0.7147812713602186

In [ ]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                  n_estimators=80,
                  max_samples=0.8,
                  oob_score=True,
                  random_state=10)

bag_model.fit(x_train, y_train)

print("BaggingClassifier oob_score_ ", bag_model.oob_score_)
print("BaggingClassifier Score ", bag_model.score(x_test, y_test))

BaggingClassifier oob_score_  0.752442996742671
BaggingClassifier Score  0.7662337662337663

In [ ]:
bag_model = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                  n_estimators=80,
                  max_samples=0.8,
                  oob_score=True,
                  random_state=10)

cv_dt = cross_val_score(bag_model, X, Y, cv=10)
cv_mean_bag = cv_dt.mean()
print("CVS BaggingClassifier ", cv_mean_bag)

CVS BaggingClassifier  0.7668660287081339

In [ ]:
from sklearn.ensemble import RandomForestClassifier

cv_dt = cross_val_score(RandomForestClassifier(), X, Y, cv=10)
cv_mean_randomforest = cv_dt.mean()
print("CVS RandomForestClassifier ", cv_mean_randomforest)

CVS RandomForestClassifier  0.7669514695830485

In [ ]:
cv_dt = cross_val_score(DecisionTreeClassifier(), x_scaled, Y, cv=10)
cv_mean_decisiontree = cv_dt.mean()
print("CVS DecisionTreeClassifier x_scaled ", cv_mean_decisiontree)

CVS DecisionTreeClassifier x_scaled  0.7083219412166781