In [ ]:
import pandas as pd

In [ ]:
!wget https://github.com/datasciencedojo/datasets/raw/master/titanic.csv

--2022-03-14 16:07:21--  https://github.com/datasciencedojo/datasets/raw/master/titanic.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv [following]
--2022-03-14 16:07:21--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2022-03-14 16:07:22 (3.95 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [ ]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df.Age = df['Age'].fillna(df['Age'].mean())
df['Embarked'] = df.Embarked.fillna('S')
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
df['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [ ]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [ ]:
df['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
df_x = df.drop(['PassengerId','Survived','Name','Cabin','Ticket','SibSp','Parch'],axis=1)
df_y = df.Survived
df_x.head()

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S

In [ ]:
pclass = pd.get_dummies(df_x.Pclass, prefix="PClass")
pclass.head()

   PClass_1  PClass_2  PClass_3
0         0         0         1
1         1         0         0
2         0         0         1
3         1         0         0
4         0         0         1

In [ ]:
embarked = pd.get_dummies(df_x.Pclass, prefix="Embarked")
embarked.head()

   Embarked_1  Embarked_2  Embarked_3
0           0           0           1
1           1           0           0
2           0           0           1
3           1           0           0
4           0           0           1

In [ ]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
sex = label.fit_transform(df_x.Sex)
sex.shape

(891,)

In [ ]:
sex = pd.DataFrame(sex, columns=['Sex'])
df_int = pd.concat([df.Fare,df.Age], axis=1)
df_train = pd.concat([pclass,embarked,sex], axis=1)
df_train = pd.concat([df_train, df_int], axis=1)
df_train.head()

,PClass_1,PClass_2,PClass_3,Embarked_1,Embarked_2,Embarked_3,Sex,Fare,Age
0,0,0,1,0,0,1,1,7.2500,22.0
1,1,0,0,1,0,0,0,71.2833,38.0
2,0,0,1,0,0,1,0,7.9250,26.0
3,1,0,0,1,0,0,0,53.1000,35.0
4,0,0,1,0,0,1,1,8.0500,35.0

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline


scaled = StandardScaler().fit_transform(df_train)
scaled.shape

(891, 9)

In [ ]:
scaled

array([[-0.56568542, -0.51015154,  0.90258736, ...,  0.73769513,
        -0.50244517, -0.5924806 ],
       [ 1.76776695, -0.51015154, -1.10792599, ..., -1.35557354,
         0.78684529,  0.63878901],
       [-0.56568542, -0.51015154,  0.90258736, ..., -1.35557354,
        -0.48885426, -0.2846632 ],
       ...,
       [-0.56568542, -0.51015154,  0.90258736, ..., -1.35557354,
        -0.17626324,  0.        ],
       [ 1.76776695, -0.51015154, -1.10792599, ...,  0.73769513,
        -0.04438104, -0.2846632 ],
       [-0.56568542, -0.51015154,  0.90258736, ...,  0.73769513,
        -0.49237783,  0.17706291]])

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier

from sklearn.tree import DecisionTreeClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC

from sklearn.naive_bayes import BernoulliNB

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_train, df_y, test_size= 0.2)

print("x_train ", x_train.shape)
print("x_test ", x_test.shape)
print("y_train ", y_train.shape)
print("y_test ", y_test.shape)

x_train  (712, 9)
x_test  (179, 9)
y_train  (712,)
y_test  (179,)

In [ ]:
model_rfc = RandomForestClassifier(n_es)
model_ebc = BaggingClassifier()
model_etc =  ExtraTreesClassifier()

model_dtc = DecisionTreeClassifier()

model_lrc = LogisticRegression()
model_sgd = SGDClassifier()
model_svm =  SVC(kernel='linear')
model_bnb =  BernoulliNB()

In [ ]:
model_rfc.fit(x_train, y_train)
model_ebc.fit(x_train, y_train)
model_etc.fit(x_train, y_train)

model_dtc.fit(x_train, y_train)

model_lrc.fit(x_train, y_train)
model_sgd.fit(x_train, y_train)
model_svm.fit(x_train, y_train)
model_bnb.fit(x_train, y_train)

BernoulliNB()

In [ ]:
print("model_rfc ", model_rfc.score(x_test, y_test))
print("model_ebc ", model_ebc.score(x_test, y_test))
print("model_etc ", model_etc.score(x_test, y_test))
print("model_dtc ", model_dtc.score(x_test, y_test))
print("model_lrc ", model_lrc.score(x_test, y_test))
print("model_sgd ", model_sgd.score(x_test, y_test))
print("model_svm ", model_svm.score(x_test, y_test))
print("model_bnb ", model_bnb.score(x_test, y_test))

model_rfc  0.8156424581005587
model_ebc  0.7988826815642458
model_etc  0.7988826815642458
model_dtc  0.7821229050279329
model_lrc  0.8156424581005587
model_sgd  0.5921787709497207
model_svm  0.6703910614525139
model_bnb  0.6871508379888268

In [ ]:
cv_iterations = 10
print("model_rfc ", (cross_val_score(model_rfc, x_train, y_train, cv=cv_iterations)).mean())
print("model_ebc ", (cross_val_score(model_ebc, x_train, y_train, cv=cv_iterations)).mean())
print("model_etc ", (cross_val_score(model_etc, x_train, y_train, cv=cv_iterations)).mean())
print("model_dtc ", (cross_val_score(model_dtc, x_train, y_train, cv=cv_iterations)).mean())
print("model_sgd ", (cross_val_score(model_sgd, x_train, y_train, cv=cv_iterations)).mean())
print("model_svm ", (cross_val_score(model_svm, x_train, y_train, cv=cv_iterations)).mean())
print("model_bnb ", (cross_val_score(model_bnb, x_train, y_train, cv=cv_iterations)).mean())
print("model_lrc ", (cross_val_score(model_lrc, x_train, y_train, cv=cv_iterations)).mean())

model_rfc  0.8200899843505478
model_ebc  0.8214397496087636
model_etc  0.8045774647887324
model_dtc  0.8130672926447575
model_sgd  0.5827856025039124
model_svm  0.6600352112676056
model_bnb  0.695266040688576
model_lrc  0.7850547730829421

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

kfold = KFold(n_splits=10)

In [ ]:
def kfolder(model, val_x, val_y):
  acc_score = []
  for train_index , test_index in kfold.split(val_x):
      x_tr , x_t = val_x.iloc[train_index,:], val_x.iloc[test_index,:]
      y_tr , y_t = val_y[train_index] , val_y[test_index]
      
      model.fit(x_tr,y_tr)
      pred_values = model.predict(x_t)
      
      acc = accuracy_score(pred_values , y_t)
      acc_score.append(acc)
      
  avg_acc_score = sum(acc_score)/10
  return avg_acc_score

In [ ]:
print("model_rfc ", kfolder(model_rfc, df_train, df_y))
print("model_ebc ", kfolder(model_ebc, df_train, df_y))
print("model_etc ", kfolder(model_etc, df_train, df_y))
print("model_dtc ", kfolder(model_dtc, df_train, df_y))
print("model_sgd ", kfolder(model_sgd, df_train, df_y))
print("model_svm ", kfolder(model_svm, df_train, df_y))
print("model_bnb ", kfolder(model_bnb, df_train, df_y))
print("model_lrc ", kfolder(model_lrc, df_train, df_y))

model_rfc  0.8272159800249689
model_ebc  0.8093008739076154
model_etc  0.8013982521847689
model_dtc  0.7766666666666667
model_sgd  0.6599625468164794
model_svm  0.6735081148564295
model_bnb  0.6891635455680399

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

model_lrc  0.7890137328339575

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,